* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
}

hr {
    background-color:white;
    align-items: center;
  }

.menu {
    background-color: rgba(209, 100, 181, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu img {
    width: 240px;
    padding: 60px 0 10px 0;
}

nav, nav ul, nav ul li {
    display: inline;
    list-style: none;
}

nav ul, nav ul li a  {
    text-decoration: none;
    display: inline-block;
    color: aliceblue;
    font-weight: bold;
    padding: 0px 10px;
}

nav ul {
    margin: 10px 0px 30px 0px;
}

footer {
    background-color: rgba(209, 100, 181, 1);
    color: #FFF;
    padding: 20px;
}

.footerContenido {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.footerContenido div {
    width: 500px;
    text-align: left;
}

.intro{
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.intro img {
    max-width: 1600px;
}

.textoIntro {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50%;
  }

.textoIntro h1 {
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
}

.opcionesIntro {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 500;
    color: #FFF;
}

main {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.actividades, .noticias{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2 {
    font-size: 35px;
    padding: 20px;
}

.botonFlecha {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(119, 155, 231, 1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    color: white;
}

.contenedor{
    width: 300px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px 10px;
    background-color: rgba(240, 243, 244, 1);
}

.contenedorImg {
    display: flex;
    align-items: baseline;
    justify-content: end;
    height: 200px;
    overflow: hidden;
}
.contenedorImg img {
    position: relative;
    max-width: 100%;
}

.contenedorBoton{
    position: absolute;
    margin: 10px 10px;
    width: 80px;
    height: 30px;
    background-color: rgba(165, 128, 206, 1);
    font-weight: 600;
    border: none;
    color: white;
}

.contenedorBoton:hover, .botonFlecha:hover {
    cursor: pointer;
    background-color: black;
}

.contenedorTitulo, .contenedorDescripcion, .contenedorFecha {
    margin: 10px 15px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
    line-height: 16px;
}

.s1ControlPrenatal, .psicoprofilaxis {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.s1ControlPrenatal div, .psicoprofilaxis div {
    width: 250px;
}

.s1ControlPrenatal img, .psicoprofilaxis img {
    width: 200px;
    padding: 0px 15px 0px 0px;
}

.objetivos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.objetivos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 0px 20px;
}

h5 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(165, 205, 255, 1);
    font-size: 18px;
    color: white;
}

.icono2 {
    width: 100px;
}

.divisor {
    background-color: rgba(255, 181, 184, 1);
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.divisor1 {
    background-color: rgba(164, 232, 224, 1);
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.divisor p, .divisor1 p {
    width: 50%;
    font-size: 45px;
    line-height: 50px;
    color: rgba(252, 249, 244, 1);
}

.divisor img, .divisor1 img {
    width: 50%;
}

.controles, .controlRegular {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px 0px 20px 0px;
}

.controles div, .controlRegular div {
    background-color: rgba(255, 221, 223, 1);
    border: 1px solid rgba(255, 181, 184, 1);
    border-radius: 15px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    text-align: left;

}

.material-symbols-outlined {
    color: rgba(255, 181, 184, 1);
    padding-right: 10px;
}

.controlRegularImg {
    padding-right: 10px;
}

.consultas, .anemia {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.consultas div {
    width: 200px;
    height: 250px;
    background-color: rgba(164, 232, 224, 1);
    margin: 0px 10px;
    padding: 20px 10px;
}

.anemia div {
    width: 200px;
    height: 250px;
    background-color: rgba(251, 227, 157, 1);
    border: 1px solid rgba(255, 187, 60, 1);
    border-radius: 10px;
    margin: 0px 10px;
    padding: 20px 10px;
}

.consultas img, .anemia img {
    margin: 30px 0px 20px 0px;
    height: 100px;
}

.signoalarma1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.signoalarma1 img {
    width: 180px;
    padding-right: 10px;
}

.signoalarma1 div p {
    margin: 10px 0px;
}

.tarjeta1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tarjeta1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(251, 227, 157, 1);
    width: 180px;
    height: 180px;
    margin: 0px 10px;
    padding: 10px 10px;
    border-radius: 10px;
}

.tarjeta1 img {
    width: 80px;
}

.pruebaDescarte {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.pruebaDescarteNegativa, .pruebaDescartePositivo {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 25px;
}

.pruebaDescarteNegativa div {
    border: 1px solid rgba(66, 229, 210, 1);
    background-color: rgba(255, 255, 248, 1);
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.pruebaDescartePositivo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 410px;
    background-color: rgba(255, 255, 248, 1);
    border: 1px solid rgba(66, 229, 210, 1);
}

.pruebaDescartePositivo p {
    margin: 10px 0px;
}

.cuidarAlimentacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cuidarAlimentacion img {
    width: 250px;
    padding: 0px 20px 0px 0px;
}

.alimentacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.alimentacion div {
    background-color: rgba(197, 229, 165, 1);
    border-radius: 15px;
    width: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.pruebaDescarteNegativa img, .pruebaDescartePositivo img {
    width: 100px;
    padding: 0px 15px 0px 10px;
}

.PreguntasFrecuentes div {
    display: flex;
    flex-direction: row;
}

.beneficios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.beneficios div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: rgba(252, 249, 244, 1);
    border: 1px solid rgba(223, 177, 96, 1);
}

.beneficios img {
    padding: 20px 0px;
    width: 50px;
}

.beneficios p {
    padding: 10px 0px;
}

@media (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: column;
    }

    nav ul, nav ul li a  {
        padding: 0px 100px;
        margin: 10px;
    }

    .introduccion img {
        width: 800px;
    }

    .textoIntro {
        position: absolute;
        text-align: center;
        top: 600px;
      }
    
    .textoIntro h1 {
        font-size: 40px;
        font-weight: 700;
        color: #FFF;
    }

    .s1ControlPrenatal, .psicoprofilaxis {
        display: flex;
        flex-direction: column;
        
    }
    
    .s1ControlPrenatal img, .psicoprofilaxis img {
        width: 200px;
        padding: 0px 15px 15px 0px;
    }

    .beneficios {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footerContenido {
        display: flex;
        flex-direction: column;
    }

    .objetivos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .controles, .controlRegular {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .consultas, .anemia {
        display: flex;
        flex-direction: column;
    }

    .consultas div {
        margin: 10px;
    }

    .divisor, .divisor1 {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

}