* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
}

.menu {
    background-color: rgba(209, 100, 181, 1);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu img {
    width: 250px;
    padding: 40px 0 20px 0;
}

nav ul{
    display: flex;
    padding: 0 300px;
}
nav ul li {
    list-style: none;
    margin: 10px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    justify-content: center;
}

.footer{
    text-align: center;
    background-color: rgba(209, 100, 181, 1);
    color: #FFF;
}

.introduccion{
    max-width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.introduccion img{
    position: relative;
    width: 100%;
    height: 600px;
    z-index: -1;
}

.textoIntro {
    position: absolute;
    top: 350px;
    left: 100px;
    width: 50%;
    z-index: 0;
  }

.textoIntro h1 {
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
}

.opcionesIntro {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 500;
    color: #FFF;
}

main {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.actividades, .noticias{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2 {
    font-size: 35px;
    padding: 20px;
}

.botonFlecha {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(119, 155, 231, 1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    color: white;
}

.contenedor{
    width: 300px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px 10px;
    background-color: rgba(240, 243, 244, 1);
}

.contenedorImg {
    display: flex;
    align-items: baseline;
    justify-content: end;
    height: 200px;
    overflow: hidden;
}
.contenedorImg img {
    position: relative;
    max-width: 100%;
}

.contenedorBoton{
    position: absolute;
    margin: 10px 10px;
    width: 80px;
    height: 30px;
    background-color: rgba(165, 128, 206, 1);
    font-weight: 600;
    border: none;
    color: white;
}

.contenedorBoton:hover, .botonFlecha:hover {
    cursor: pointer;
    background-color: black;
}

.contenedorTitulo, .contenedorDescripcion, .contenedorFecha {
    margin: 10px 15px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
    line-height: 16px;
}

.s1ControlPrenatal{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.s1ControlPrenatal div {
    width: 250px;
}

.s1ControlPrenatal img {
    width: 200px;
    padding: 0px 15px 0px 0px;
}

.objetivos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.objetivos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 0px 20px;
}

h5 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(165, 205, 255, 1);
    font-size: 18px;
    color: white;
}

.icono2 {
    width: 100px;
}

.divisor {
    background-color: rgba(255, 181, 184, 1);
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.divisor1 {
    background-color: rgba(164, 232, 224, 1);
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.divisor p, .divisor1 p {
    width: 50%;
    font-size: 45px;
    line-height: 50px;
    color: rgba(252, 249, 244, 1);
}

.divisor img, .divisor1 img {
    width: 50%;
}

.controles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0px 0px 20px 0px;
}

.controles div {
    background-color: rgba(255, 221, 223, 1);
    border: 1px solid rgba(255, 181, 184, 1);
    border-radius: 15px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    text-align: left;

}

.material-symbols-outlined {
    color: rgba(255, 181, 184, 1);
    padding-right: 10px;
}

.consultas {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.consultas div {
    width: 200px;
    background-color: rgba(164, 232, 224, 1);
    border: 1px solid red;
}

.section3, .section5 {
    display: flex;
    flex-direction: row;
    text-align: left;
}
.section3 img, .section5 img {
    max-width: 50%;
}

.anemia, .descartes, .alimentacion {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.consultas img {
    width: 200px;
}

.PreguntasFrecuentes div {
    display: flex;
    flex-direction: column;
}

.tarjeta1 {
    width: 100px;
    padding: 10px;
}

.signos1 div,.signos2 div {
    display: flex;
    flex-direction: row;
}

.beneficios {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.beneficios div {
    width: 200px;
    padding: 100px 20px;
}