.navbar-color {
    padding: 1em;
    background-color: nth($bg-color, 1);
}

.nav-link-text {
    color: rgba(224, 223, 225, 1);
    font-weight: normal;
}

.navbar-nav, .nav-link.active {
    font-weight: bold;
    --bs-emphasis-color-rgb: white;
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    color: white;

    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
}

.navbar-brand {
    img {
        width: 150px;
        height: auto;
    }
}

