.actividades,
.noticias {
    display: flex;
    flex-direction: row;
    align-items: center;

    .contenedor {
        width: 350px;
        height: 400px;
        overflow: hidden;
        margin: 0px 10px;
        background-color: rgba(240, 243, 244, 1);

        div {
            display: flex;
            align-items: baseline;
            justify-content: end;
            height: 200px;
            overflow: hidden;

            img {
                position: relative;
                width: 100%;
            }
        }

        .contenedorTitulo,
        .contenedorDescripcion,
        .contenedorFecha {
            margin: 10px 15px;
        }

    }
}

.cont-1,
.cont-3 {
    display: block;
}

.botonFlecha {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(119, 155, 231, 1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    color: white;
}

.contenedorBoton {
    position: absolute;
    margin: 10px 20px;
    width: 100px;
    height: 30px;
    background-color: rgba(165, 128, 206, 1);
    font-size: nth($bg-font, 2);
    font-weight: 600;
    border-radius: 3px;
    border: none;
    color: white;
}

.contenedorBoton:hover,
.botonFlecha:hover {
    cursor: pointer;
    background-color: black;
}

@media screen and (max-width:480px) {

    .cont-1,
    .cont-3 {
        display: none;
    }

    .actividades,
    .noticias {
        .contenedor {
            width: 220px;
            height: 350px;

            div {
                height: 120px;
            }

            .contenedorTitulo,
            .contenedorDescripcion,
            .contenedorFecha {
                margin: 10px 15px;
            }

        }
    }

    .botonFlecha {
        width: 40px;
        height: 40px;
    }
}