.intro {
    position: relative;
    display: block;
    align-items: center;
    max-width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.intro img {
    max-width: 100%;
}

.textoIntro {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50%;
  }

.textoIntro h1 {
    font-size: 50px;
    font-weight: 700;
    color: #FFF;
}

.opcionesIntro {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 500;
    color: #FFF;
}

@media screen and (max-width:480px) {
    .intro {
        position: relative;
        display: block;
        align-items: center;
        max-width: 100%;
        max-height: 600px;
        overflow: hidden;
    }
    
    .intro img {
        width: 100%;
    }
    
    .textoIntro {
        top: 10px;
        left: 10px;
        width: 100%;
      }
    
    .textoIntro h1 {
        font-size: 20px;
    }
    
    .opcionesIntro {
        margin: 10px 0px;
        font-size: 15px;
    }
}