$bg-color: 
rgba(209, 100, 181, 1),
rgba(74, 182, 255, 1),
rgba(165, 128, 206, 1);

$bg-font: 
15px,
17px,
19px;

$bg-font-mobile: 
14px,
16px,
18px,
20px,
25px;

$bg-color1: 
rgba(251, 227, 157, 1),
rgba(164, 232, 224, 1),
rgba(255, 181, 184, 1),
rgba(197, 229, 165, 1);